.blockquote {
  margin-left: 0.6em !important;
  padding: 0.5em 1.2em !important;
  border-left: 3px solid rgba(15, 148, 136, 1) !important;
  width: 100%;
  box-sizing: border-box !important;
  background-color: rgba(15, 148, 136, 0.1) !important;
  color: #666 !important;
}
img {
  width: 100%;
  display: inline-block;
}
.page-item.active .page-link{
  color: #083537!important;
}
